
:root {

  --heading-color: #000110;
  --body-text: #121533;
  --color-light: #4D4D58; 

  --default-line-height: 1;


  --heading-font: 'Montserrat', Arial, sans-serif;
  --body-font: 'Montserrat', Arial, sans-serif;


  --text-body: 1rem;
  --text-body-big: 1.125rem;


  --big-title-desktop: 4.209rem;
  --big-title-tablet: 3.488rem;

  --font-weight-extrabold: 800;
  --font-weight-bold: 600;
  

  --link-color: #000000;
  --link-color-hover: #1700fe;


  --body-color: #ffffff;
    
  --icon-default-size: 28px;
    
  --preloader-icon-box: #000000;
  --preloader-icon-fill: #000000;
}